@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700;800;900&display=swap');
 *{
  font-family: 'Rubik';
  font-weight: 900;
 }

:root{
  --color1:#d2fc03;
  --color2:#2510b3;
}

header,
footer,
section {
    padding: 100px 0;
}

header, footer{
  background-color: var(--color1);
}

header{
  padding: 30px 0;
}

header a{
  color: var(--color2);
}


.color1 {
  color: var(--color1)
}

.color2 {
  color: var(--color2)
}

.bg1 {
  background-color: var(--color1);
}

.bg2 {
  background-color: var(--color2);
}